$color: #FF0000;
$grey_bor: 1px solid #eee;
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: transparent;


//This color would be RED
.myClass {
color: $color;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color:$bg-color;
}
