//random variables
$color: #FF0000;
$grey_bor: 1px solid #eee;
$white_bor: 1px solid #fff;
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color: transparent;

//for clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//This color would be RED
.myClass {
	color: $color;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color:$bg-color;
}